{% load static %}
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/memo.css' %}">
</head>
<body>
<h1><a class="btn" href="{% url 'app:new_memo' %}">新規メモ作成</a></h1>

{% for memo in memos %}
<h1><a href="{% url 'app:detail' memo.id %}" class="memo-title"></h1>
  <div>
    {{ memo }}
    <span class="updated_datetime">{{ memo.updated_datetime }}</span>
  </div>
</a>
{% endfor %}

</body>
</html>